.mClass {
  cursor: pointer;
}

.loader2 {
  position: absolute;
  left: 44%;
  top: 38vh;
  height: 150px !important;
  width: 150px !important;
}

.box-child {
  width: 19%;
  box-sizing: border-box;
}

.icon-users {
  font-size: xx-large;
  color: #3498db; 
}

.icon-customers {
  font-size: xx-large;
  color: #e74c3c; 
}

.icon-categories {
  font-size: xx-large;
  color: #f1c40f; 
}

.icon-inventory {
  font-size: xx-large;
  color: #2ecc71; 
}


